/*
  CSS version: 1.3
  */  
  /* 모든 태그에 적용 */
  *{ 
    font-family: Malgun Gothic; 
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    color: #555555;
  }
  
  .top_menu_label {
    position: relative; /* 속해있는 부모 태그 기준 설정 */
    top: 0%;
    left: 0%;
    color: #333333;
  }
  
  .top_menu {
    margin-top: 0px;
    width: 100%;
    height: 150px;  
  }
  
  .top_menu_list {
    position: relative;
    top: 80%;
    left: 0%;
    background-color: rgba(0, 0, 255, 0); /* 0.2: Alpha 투명도 */
    color: white;
  }
  
  .menu_link:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: white;
  }
 
  .menu_link:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: white;
  }
 
  .menu_link:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: white;
    font-weight: bold;
  }
 
  .menu_link:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: white;
  }
  
    /* ASIDE 서브메뉴의 시작 -------------------------- */
    .aside_menu{ /* 서브 메뉴 */
    width: 100%;
    border: none;
    margin: 10px auto;
  }
 
  .menu_line{
    margin-bottom: 10px;
    width: 100%;
    border-bottom: dotted 1px #777777;
    clear: both;
  } 
  
  /* ASIDE 메뉴 세로 구분선 */
  .menu_divide{
    color: #777777;
    font-size: 0.8em; /* 부모 태그에비해 글자를 80% 크기로 출력 */
  }  
  
    /* ASIDE 서브메뉴의 종료 -------------------------- */  
   
   
  .container {
    margin: 5px;
  }
   
  .content {
    width: 100%;
    margin: 0px auto;
  }
  
  .bottom_menu {
    margin: 20px auto;
    text-align: center;
    clear: both;             /* float 속성 해제 */
  } 
   
  .label_basic {
    width: 150px;
    background-color: #e6f1ff;
    display: inline-block; /* 한줄의 영역을 박스 영역으로 확장 표시, 박스 모양에 float='left' 적용 */
    text-align: right;
    padding-right: 10px;
  }
  
  .li_none {
    list-style: none;        /* 블렛 기호 생략 */
    margin: 10px 10px;   /* 위아래 좌우*/
  }
  
  .li_center {
    text-align: center;
    list-style: none;
    margin: 20px auto;
  }
 
  .li_right {
    text-align: right;
    list-style: none;
    margin: 20px auto;
  }
    
  .fieldset_basic {
    border-left: none;
    border-right: none;
    margin: 10px auto;
  }
  
  .legend_basic {
    margin: 0px 30px;
    border: solid 1px #AAAAAA;
    padding: 2px;
    background-color: #a6c2ff;
    color: #FFFFFF;
    
  } 
   
  .title_box {
    color: #FFFFFF;
    width: 20%;
    margin: 10px auto;
    padding: 3px;
    background-color: #6699ff;
    border: solid 1px #555555;
    text-align: center; 
  }
  
  .table_basic {
    border: solid 1px #AAAAAA;
    margin: 10px auto;
    width: 100%;
    border-collapse: collapse;
  } 
  
  .table_basic2 {
    border-top: solid 1px #AAAAAA; 
    border-bottom: solid 1px #AAAAAA;
    border-left: none;
    border-right: none;
    margin: 10px auto;
    width: 100%;
    border-collapse: collapse;
  } 
  
  .th_basic {
    border: solid 1px #CCCCCC;
    background-color: #efeeff 
  }
  
  .td_basic {
    border: solid 1px #CCCCCC;
    background-color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center; 
    border-left: none;
    border-right: none;
  }
   
  .td_left {
    border: solid 1px #CCCCCC;
    background-color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left; 
    border-left: none;
    border-right: none;    
  }   
   
  A:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }
 
  A:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }
 
  A:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #5555FF;
  }
 
  A:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #5555FF;
  }  
   
  .top_menu1 {
    color: #CCCCCC;
  } 
  
  .fieldset_no_line {
    border: none;
  }
  
  .message {
    width: 70%;
    border: none;
    margin: 30px auto;
    text-align: center;
    background-color: #EEEEFF;
    padding: 30px;
    
  }
 
  /* 경고 메시지 */  
  .span_warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    font-weight: bold;
    padding: 2px; 
  }
  
  .input_basic {
    border-top: none;
    border-left: none;
    border-right: none; 
    border-bottom: solid 1px #AAAAAA;
  }
  
  .span_info {
    color: #ffffff;
    background-color: rgba(0, 200, 0, 0.6);
    font-weight: bold;
    padding: 2px;
  }
  
  .span_alert {
    color: #ffffff;
    background-color: rgba(0, 0, 200, 0.6);
    font-weight: bold;
    padding: 2px;
  }
  
  .div_grid_img {
    background-color: #EEEEEE;
    float: left;
    position: relative;
    left: 0%;
    margin: 1%;
    width: 23%;
    height: 220px; 
  }
  
  .hr_dotted {
    width:  100%;
    clear: both;
    height: 1px;
    border-top: dotted 1px #AAAAAA;
    border-right: none;;
    border-bottom: none;
    border-left: none;
    margin: 10px auto;
  }
  
  .div_grid_text {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: table;
    padding: 2px;
    border:solid 1px #DDDDDD;
  }
  
  .div_grid_text_content {
    background-color: #FFFFFF;
    vertical-align: middle;
    display: table-cell;
    padding: 20px;
    text-align: center;
  }
  
  .top_menu_sep {
    color: #AAAAAA;
  }
  
  .menu_divide {
    color: #CCCCCC;
    font-size: 1.0em; /* 부모 태그의 크기보다 20% 적음 */
  }
  
  /* 팝업 윈도우 */
  .popup1 {
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    position: absolute;
    top: 25%;
    left: 35%;
    width: 36%;
    height: 250px;
    background-color: #333333;
    opacity: 0.8;
    text-align: center;
    color: #FFFFFF;
  }
  
  /* 팝업 이미지 */
  .popup_img {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #FFFFFF;
    border: none;
    opacity: 1.0;
    text-align: center;
    color: #FFFFFF;
  }
  
    
  .popup1 A:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #FFFFFF;
  }
  
  .popup1 A:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #FFFFFF;
  }
 
  .popup1 A:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    font-weight: bold;
    color: #FFFFFF;
  }
 
  .popup1 A:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #FFFFFF;
  }  
 
   
  .title_line {
    color: #333333;
    width: 20%; 
    margin: 20px auto; 
    padding: 3px; 
    border-bottom: solid 2px #555555; 
    text-align: center;
  }
  
  .popup_button {
    color: #333333;
  }
  
   ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.nav .dropdown-menu {
    margin-top: 0;
}
  
/* YoonBbak */
ul.sdt_menu{
  margin:0;
  padding:0;
  list-style: none;
  font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
  font-size:14px;
  width:1020px;
}
ul.sdt_menu a{
  text-decoration:none;
  outline:none;
}
ul.sdt_menu li{
  float:left;
  width:170px;
  height:85px;
  position:relative;
  cursor:pointer;
}
ul.sdt_menu li > a{
  position:absolute;
  top:0px;
  left:0px;
  width:170px;
  height:85px;
  z-index:12;
  background:transparent url(../images/overlay.png) no-repeat bottom right;
  -moz-box-shadow:0px 0px 2px #000 inset;
  -webkit-box-shadow:0px 0px 2px #000 inset;
  box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
  border:none;
  position:absolute;
  width:0px;
  height:0px;
  bottom:0px;
  left:85px;
  z-index:100;
  -moz-box-shadow:0px 0px 4px #000;
  -webkit-box-shadow:0px 0px 4px #000;
  box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
  position:absolute;
  top:25px;
  left:0px;
  width:170px;
  height:60px;
  z-index:15;
}
ul.sdt_menu li span.sdt_active{
  position:absolute;
  background:#fff;
  top:85px;
  width:170px;
  height:0px;
  left:0px;
  z-index:14;
  -moz-box-shadow:0px 0px 4px #000 inset;
  -webkit-box-shadow:0px 0px 4px #000 inset;
  box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
  margin-left:15px;
/*   text-transform:uppercase; */
  text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
  color:#000;
  font-size:24px;
  float:left;
  clear:both;
}
ul.sdt_menu li span span.sdt_descr{
  color:#0B75AF;
  float:left;
  clear:both;
  width:155px; /*For dumbass IE7*/
  font-size:10px;
  letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
  display:block;
  position:absolute;
  width:170px;
  overflow:hidden;
  height:170px;
  top:85px;
  left:0px;
  display:none;
  background:#000;
}
ul.sdt_menu li div.sdt_box a{
  float:left; 
  clear:both;
  line-height:30px;
  color:#fff;
}
ul.sdt_menu li div.sdt_box a:first-child{
  margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
  color:#f00;;
}
/* YoonBbak */  
   